# Ignore Python bytecode files
__pycache__/
*.pyc

# Ignore environment variable setup files
.env
*.env

# Ignore audio files
*.wav

# Ignore output transcription file
transcriptions.txt

# Ignore any temporary or log files
*.log
